.weekSelectorContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #5A3E68;
  border-radius: 6px;
  height: 25px;
  margin-bottom: 10px ;
  max-width: 250px;
}
.prevDate{
  width: 40px;
  text-align: center;
  align-items: center;
  height: 25px ;
  cursor: pointer;
}
.dateContainer{
  flex-grow: 1;
  border-left: 1px solid #5A3E68;
  border-right: 1px solid #5A3E68;
  height: 25px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 10px;
}
.nextDate{
  width: 40px;
  text-align: center;
  align-items: center;
  height: 25px;
  cursor: pointer;
}
.date{
  padding-left: 10px;
  position: relative;
  color: #5A3E68;
  font-size: 12px;
  text-transform: none;
}

@media (max-width:767px){
  .weekSelectorContainer{
    max-width:100%;
  }
}
