
label{
  font-weight: normal;
}

p {
  font-weight: normal;
}
.root_video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.inline-style {
  display: inline-block;
}

.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0;
}

.no-padding-right{
  padding-right: 0;
}

.no-padding-left{
  padding-left: 0;
}

.row-padding{
  padding-left: 30px;
  padding-right: 30px;
}

.col-padding{
  padding: 15px 0;
}

.profile-img{
  width: 120px;
  height: 120px;
  padding: 5px;
  background: white;
  object-fit: cover;
}

.image-content{
  width: 120px;
  height: 120px;
  margin: auto;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
}

.img-edit{
  display: none;
  background: rgba(0, 0, 0, 0.5);
  height: 60px;
  width: 120px;
  position: absolute;
  top: 60px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.image-content:hover .img-edit {
  display: block;
}

.video-edit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 48px;
}

.video-content{
  height: 150px;
}

.video-content:hover .video-edit {
  display: block;
}

.marginTopBottom10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.padding-5{
  padding:5px;
}

.bottom{
  position: absolute;
  bottom: 0;
  left: 0;
}
.animate-bottom {
	position: relative;
  margin: auto;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}
.owl-corner-prev , .owl-corner-next {
  position: relative;
  background: #2bd5c6 !important;
}

.owl-corner-prev {
  float: left;
  left: -30px;
}

.owl-stage-outer-padding-bottom {
  padding-bottom: 10px;
  overflow: hidden;
}

.owl-corner-next {
  float: right;
  right: -30px;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}
	to {
		bottom: 0px;
		opacity: 1
	}
}
@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0
	}
	to {
		bottom: 0;
		opacity: 1
	}
}

.animate-top {
	position: relative;
  margin: auto;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1s;
	animation-name: animatetop;
	animation-duration: 1s
}
@-webkit-keyframes animatetop {
	from {
		bottom: 100px;
		opacity: 0
	}
	to {
		bottom: 0px;
		opacity: 1
	}
}
@keyframes animatetop {
	from {
		bottom: 100px;
		opacity: 0
	}
	to {
		bottom: 0;
		opacity: 1
	}
}
.profile-heading{
  font-size: 27px;
  color: #5A3E68;
  font-weight: 100;
  margin: 5px 0;
  cursor: pointer;
}

.registration-submit{
  text-align: center;
}

.errorText{
  color: rgb(244, 67, 54);
}

.padding-top-bottom{
  padding-top: 16px;
  padding-bottom: 16px;
}

.open-shift{
  background: #ffad00;
}
.assigned-shift{
  background: #667fce;
}
.missed-shift{
  background: #B52B14;
}
.clockin-shift{
  background: #14a3b5;
}
.clockout-shift{
  background: #4ac330;
}

.shift-bar{
  border-radius: 25px;
  padding: 3px 5px;
  color: white;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.days-checkbox{
  display: flex;
  align-content: center;
}

.open-text{
  color: #ffad00;
  font-size: 20px;
}
.assigned-text{
  color: #667fce;
  font-size: 20px;
}
.missed-text{
  color: #B52B14;
  font-size: 20px;
}
.clockin-text{
  color: #14a3b5;
  font-size: 20px;
}
.clockout-text{
  color: #4ac330;
  font-size: 20px;
}
.timing-card-style {
  margin: 100px 40px 10px;
  border-radius: 5px;
}

.triangle-marker {
  width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 12px solid #2BD5C6;
	border-bottom: 8px solid transparent;
  position: absolute;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 99999;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.bg-text {
    position: relative;
}
.bg-text::after {
    color: rgba(0,0,0,0.3);
    content: attr(data-bg-text);
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.word-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.stream-status {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}

.stream-pending {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #45BE66;
  padding: 5px;
  margin-right: 5px;
}

.dot-stream-not-done {
  width: 20px;
  height: 20px;
  background: #2BD5C6;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
}

.dot-stream-pending {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #BD88C7;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
}

.stream-title {
  font-size: 14px;
  padding: 0 5px;
  color: #FFF;
  line-height: 20px;
  font-weight: 600;
}

.not-done {
  font-size: 9px;
  color: #B52B14;
  line-height: 15px;
}

.not-done-big {
  color: #B52B14;
  line-height: 25px;
}

.time-in {
  font-size: 9px;
  color: #546371;
  line-height: 15px;
}

.stream-details{
  font-size: 14px;
  color: #546371;
  line-height: 20px;
}

/*Day picker style*/
abbr, abbr[title] {
  border: none;
  text-decoration: none;
}

.custom-date-picker-style{
  width: 100%;
}

.upDownButton {
  position: absolute;
  right: 0;
  margin-top: -2px;
  margin-right: 50px;
}

.scrollmenu {
    background-color: #5A3E68;
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu .menu-button{
    display: inline-block;
    color: white;
    text-align: center;
}

.red-square-dot {
  width: 10px;
  height: 10px;
  background: #B52B14;
  margin-right: 5px;
  display: inline-block;
}

.green-square-dot {
  width: 10px;
  height: 10px;
  background: #45BE66;
  margin-right: 5px;
  display: inline-block;
}
.padding-top-bottom-5{
  padding: 5px 0;
}


/* Dot */

.dotstyle {
	position: relative;
	display: inline-block;
  padding-left: 10px;
}

.dotstyle .dot{
  background: #CDCBCB;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

.dotstyle .dot-active{
  background: #BD88C7;
  border: 1px solid #BD88C7;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}


.flip-container:hover .flipper,
.flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
  padding: 20% 10% 0 10%;
	position: absolute;
	top: 0;
	left: 0;
  background: rgba(43,213,198,0.85);
  border: 1px solid #929090;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 11px;
  color: #FFFFFD;
  text-align: center;
}

.vertical-sidebar {
  background-color: #5A3E68;
  color: white;
}

.sidebar{
  width: 0%;
}

.menu-button, .sidebar-close{
  display: block;
  transition: 0.3s;
}
.sidebar-close {
  position: fixed;
  width: 50%;
  top: 0;
  background: #5A3E68;
  z-index: 100;
}

.show.sidebar {
  background-color: #5A3E68;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.headerStyle {
  background: #5A3E68;
  font-size: 15px;
  color: #FFFFFD;
  border-radius: 5px 5px 0 0;
}

.recipient-dp {
  border: 2px solid #FFFFFD;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.loginFieldWidth {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-edit{
  display: none;
}

.profile-img:hover .profile-img-edit{
  display: block;
}

@media only screen and (max-width : 767px) {

  .profile-heading{
    font-size: 24px;
  }

  .registration-submit{
    float: right!important;
  }

  .no-padding-left{
    padding-left: 15px;
  }

  .no-padding-right{
    padding-right: 15px;
  }

  .timing-card-style {
    margin: 100px 0 10px 0;
    border-radius: 5px;
  }

  .recipient-dp {
    width: 60%;
    height: 100%;
  }

  .video-edit {
    display: block;
    left: 10px;
  }

  .img-edit {
    display: block;
  }
}

@media only screen and (max-width : 419px) {

  .loginFieldWidth {
    width: 250px;
  }

  .video-edit {
    display: block;
    left: 10px;
  }

  .img-edit {
    display: block;
  }
}

/* Popover With Bubble */
.popover-with-bubble::after {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  border: 1em solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
  bottom: -30px;
  left: 10%;
}

/** Dashboard Header */
@media (max-width: 1140px)
{
  ul.nav.navbar-nav li div {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      /*margin: 7.5px -15px;*/
	margin: 7.5px 50px 7.5px -15px
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-text {
      float: none;
      margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}

/** Dashboar Header Tab Name */
.dashboard-header-tabname {
  display: none;
}

/** Dashboard Header Profile Button */
@media (max-width: 992px)
{
  .dashboard-header-tabname {
    display: block;
  }

  .dashboard-header-profile-button span {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .dashboard-header-profile-button svg {
    margin-right: 0px !important;
  }

  .navbar-toggle {
    border: none;
    margin-right: 0px;
    position: absolute;
    left: 0px;
  }

  .navbar-toggle .icon-bar {
    height: 3px;
    background-color: #2cd5c5 !important;
  }

  .navbar-toggle:focus, .navbar-toggle:hover {
    background: transparent !important;
  }

  .navbar-brand {
    margin-left: 15px !important;
  }
}

/** User Sign In and Sign Up */
@media (max-width: 767px) {
  .signin_signup_container {
    align-items: flex-start !important;
  }

  .nurture_logo_big img {
    width: 120px !important;
  }

  .dashboard_profile_video {
    margin-top: 15px;
    height: auto !important;
  }

  .caregiver_dashboard_exp_certifications {
    margin: 0px;
    margin-top: 5px;
    line-height: 24px;
    font-size: 14px !important;
  }
}

@media (max-width: 500px) {
  .caregiver_dashboard_avatar {
    height: 100px !important;
    width: 100px !important;
  }
}
@media (max-width: 400px) {
  .caregiver_dashboard_avatar {
    height: 70px !important;
    width: 70px !important;
  }
}

@media(max-width:768px){
  .profile-body-row{
    padding-top:0px !important;
  }
  .profile-body-container{
    padding-top:40px;
    padding-bottom:40px;
  }

}


/** Profile Pic Edit Button Style */

.caregiver_dashboard_avatar:hover .edit_button_style {
   display:flex !important;
}

.dashboard_profile_video_wraper:hover .edit_button_style {
  display:block !important;
}
/*
------------------------------------------------
***************** Carestream *******************
------------------------------------------------
*/
.carestreamDialog > div{
  box-shadow: none !important;
  -wekit-box-shadow: none !important;
}
/*.stepperContentContiner{
  border:none !important;
}*/
.mealContainer{
  padding:0px !important;
}
.col-sm-4.col-xs-12.meal-img-container {
    /*background-color: rgba(158, 158, 158, .1) !important;*/
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


@media (max-width:768px){
  .stepperContentContiner{
    /*margin:0px !important;*/
    padding: 0px !important;
  }
  .mealContainer{
    height:auto !important;
    padding:0px !important;
  }
  .meal-img-container{
    height:150px !important;
  }
  .xs-p-0{
    padding:0px !important;
  }
  .xs-p-5{
    padding-left:5px !important;
    padding-right:5px !important;
  }
  .streamLabel{
    left:-15px !important
  }
  .streamIdentifier{
    margin-left:10% !important;
  }
}

@media(max-width:500px){
  .stepperButtonContiner span{
    height: auto !important;
  }
  .carestream-label-wrap{
    font-size:14px !important;
    line-height: 18px !important;
  }
  .stepperButtonContiner .carestream-label{
    display: block !important;
    padding-left:0 !important;

  }
  .stepperButtonContiner .carestream-icon{
    position: relative;
    top:-30px;
  }
}

/*
------------------------------------------------
***************** create Carestream *******************
------------------------------------------------
*/
.row{
  margin:0px !important;
}
.p-0{
  padding:0px;
}
.p-5{
  padding:5px !important;
}
@media(max-width: 768px){
  .xs-h-auto{
    height: auto !important;
  }
}
.three-line-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.five-line-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media(max-width:768px){
  .xs-block{
    display: block !important;
  }
  .xs-ptb-15{
    padding:0px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
.shadow-none{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
@media(max-width:768px){
  .xs-shadow-none{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .xs-m-0{
    margin:0px !important;
  }
  .shift-refresh{
    margin-top:0px !important;
  }
  .shift-refresh .text-right{
    text-align:center !imporatant;
  }
  .profile-body-container{
    padding-top:0px;
    padding-bottom: 0px;
  }
  .recipients-container{
    margin-bottom:70px !important;
  }
  .calender-Item{
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width:992px){
  .shiftDetailBar{
    width: 100% !important;
    margin-left:0% !important;
  }
  .shift-dateContainer {
    width:50px !important;
  }
  .shift-dateContainer h4{
    font-size:12px !important;
  }
  .shift-dateContainer p{
    font-size:10px !important;
  }
}
.noshadow{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
iframe{
  border:none;
}
@media (max-width:660px){
  .xs-full{
    width:100% !important;
  }
  .xs-autoheight{
    height:auto !important;
    min-height:auto !important;
    max-height:auto !important;
  }
}
/*
-------------------------------------------------------
********************  Caurosel ************************
-------------------------------------------------------
*/
.owl-theme .owl-nav {
    margin-top: 0px;
    position: absolute;
    top: 25%;
    width: 100%;
}
.owl-prev{
  float: left;
}
.owl-next {
  float: right;
}
.addSnapshotBtn button {
  background-color:#5A3E68 !important;
}
.addSnapshotBtn button svg{
  color: #ffffff !important;
  fill: #ffffff !important;
}
.addSnapshotBtn button span{
    color: #ffffff !important;
    background-color: transparent !important;
}

.cameraSnapShotFullScreen{
  position: fixed !important;
  top: 15px !important;
  left: 15px !important;
  z-index: 9999999999;
}
.owl-stage-outer{
  /*padding-left: 20px;*/
}
@media(max-width: 767px){
  /*.cameraContainer{
    position: relative !important;
    left: 0 !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }*/
  .cameraContainer .item{
    padding-left: 10px;
  }
  .addSnapshotBtn button {
    min-width:120px !important;
  }
  .addSnapshotBtn button svg{
    margin: 0 !important;
    width:16px !important;
    height: 16px !important;
    margin-right: 5px !important;
  }
  .addSnapshotBtn button span{
    font-size: 10px !important;
    padding:0px !important;

  }
}

/*
------------------------------------------------------------------------------------
****************** Flex control for mindfull and movement mobile fix **************
------------------------------------------------------------------------------------
*/
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex-item {
  width: 100%;
  height: auto;
}
.flex-item:nth-of-type(1) { order: 1; }
.flex-item:nth-of-type(2) { order: 2; }
.videoframe{
  border: 3px solid rgb(255,255,255);
  padding: 0px !important;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@media(max-width: 768px){
  .flex-item:nth-of-type(1) { order: 2; }
  .flex-item:nth-of-type(2) { order: 1; margin-bottom:15px;}
  .card-wrap{
    padding: 15px 0px !important;
  }
}
.close-btn{
  width:32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position:absolute;
  top:0;
  right: 0;
  background-color: #f85131;
  border-radius: 50%;
  cursor: pointer;
}

/*
---------------------------------------------
**************** Full width modal   *********
---------------------------------------------
*/
.dialog-close-btn {
    color: #444444;
    font-size: 32px;
    padding: 15px;
    position: absolute;
    right: 15px;
    top: 0px;
    display: none;
    opacity: 0.7;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999;
    outline:0;
}
.dialog-close-btn:hover,.dialog-close-btn:focus,.dialog-close-btn:active{
  border: none;
  background-color: transparent;
}
.global--modal-body{
  position: relative;
}
@media(max-width: 768px){

  .xs-pa-15{
    padding: 15px !important;
  }
}
@media(max-width:480px){
  .avatar-container{
    bottom: -40px !important;
  }
}
@media (max-width: 768px) {
  .dialog-close-btn{
    display: inline-block !important;
  }
  .global--modal-content {
    width: 100% !important;
    transform: translate(0, 0) !important;
    position: absolute !important;
    top: 0 !important;
    height: 100vh !important;
  }

  .global--modal-body {
    padding: 0 0 30px 0 !important;
    max-height: 100vh !important;
    height: 100vh !important;
  }
  .global--modal-body-ptb50{
    padding: 50px 0px !important;
    max-height: 100vh !important;
    height: 100vh !important;
    position:relative;
  }
  .global--modal-body-with-title{
    padding: 0 0 50px 0 !important;
    max-height: 100vh !important;
    height: 90vh !important;
    position:relative;
  }
  .global--modal-body-with-title-footer{
    padding: 0 0 50px 0 !important;
    max-height: 100vh !important;
    height: 65vh !important;
    position:relative;
  }
  .global--modal-body-ptb50 .dialog-close-btn{
    padding: 10px;
    top:-5px;
  }

  .global--modal-paper {
    overflow: auto !important;
    height: 100vh !important;
  }
}
/*
--------------------------------------------------
********************  Medications ****************
*/
.medications-table-data {
    white-space: normal !important;
    overflow: auto;
    text-overflow: initial !important;
    padding: 15px 5px !important;
}
@media(max-width: 768px){
  .medications-table-data {
      padding: 15px 5px !important;
      font-size: 10px !important;
  }
}
.hint-text{
  color: #999999;
  font-size: 10px;
}
.stepperContentContiner{
  margin-top:0px !important;
}
.stepperContentContiner li svg{
  cursor: pointer;
}
.float-label{
  width:100% !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font-size:15px !important;
  font-stretch:100%;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:400;
  padding-left: 0px !important;
  color: #b2b2b2;
}
.ReactPasswordStrength-input{
  height:45px;
}
.ReactPasswordStrength{
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
  border-bottom: 1px solid #e0e0e0 !important;
  font-weight: 400;
  font-size: 14px;
  padding: 0px !important;
  margin-top:20px;
}
.ReactPasswordStrength-strength-desc{
  min-width: 100px !important;
}
.terms-link{
  color: #2bd5c6;
  font-weight: 500;
  padding-left: 5px;
  cursor:pointer;
}
.breakword{
  word-wrap: break-word;
  word-break: break-word;
}
.avatarEditorCropHint{
  width:150px;
  height:30px;
  font-size:14px;
  background-color: rgba(0,0,0,0.5);
  color:#ffffff;
  vertical-align: center;
  text-align: center;
  display:block;
  position: absolute;
  top: 20px;
  left:122px;
  border:1px solid #ffffff;
}
.avatarEditorCropHintHidden{
  display:none;
}

.avatarEditor-Container{
  position: relative;
  background-color: #f0f0f0;
}
.avatarEditor-Container canvas{
  border: none !important;
}
@media(max-width:768px){
  .avatarEditor-Container canvas{
    width: 100% !important;
    height: auto !important;
  }
  .avatarEditorCropHint{
    top: 0px;
    left:122px;
  }
}
.raised-button--rounded{
  margin: 15px 0px !important;
}
.raised-button--rounded div {
    height: auto !important;
}
.raised-button--rounded button{
  border-radius: 18px !important;
  background-color: #29d5c7 !important;
}
.bodyFixedWidth{
  min-width: 1200px;
  overflow: auto;
}
.avatarEditor-Container{
  position: relative;
  overflow: hidden;
}
.avatarEditor-Tooltip,.toolTipClassName{
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  display:none;
  width: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
  color: #ffffff;
  font-size:12px;
  line-height: 20px;
  padding: 0px 5px;
  transition: opacity 1s ease-out;
  opacity: 0;
}
.toolTip-label{
  position: relative;
  top: -3px !important;
}
.avatarEditor-Container:hover .avatarEditor-Tooltip,.avatarEditor-Container:hover .toolTipClassName {
display: inline-block;
opacity: 1;
}
.bodyFixedWidth .navbar{
  margin-bottom:5px !important;
}
.bodyFixedWidth .pageBgimg{
  background: none !important;
}
.bodyNoBg .navbar{
  margin-bottom:5px !important;
}
.bodyNoBg .pageBgimg{
  background: none !important;
}
