
@media(max-width:992px){
  .navbarWrap{
    display: flex;
    flex-direction: row;
  }
  .navBrand{
    margin-left: 0px !important;
  }
  .navBarCollapse{
    flex-grow: 1;
    display: block !important;
    border: none;
  }
  .navBarCollapse ul>li{
    display: inline-block !important;
  }
  .navBarCollapse ul{
    margin: 0px;
  }
}
