.scheduleStatsContainer{
  text-align:center;
  padding:0 0 30px;
}
.citiInfoWrapper{
  width: 100%;
},
.bestMatchesListStyle{
  width: 25%;
  margin-bottom: 10px;
}
.weekdaysBody{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.weekdaysBody>section{
  display: inline-block;
  width: 14.28%;
  color: #2C3238;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #ECECEC;
  overflow-x: hidden;
  padding: 0px 5px;
  padding-bottom: 10px;
  min-height:auto;
  cursor: pointer;
}
.weekdaysBody>section:last-child{
  border-right: none;
}
.weekdays{
  margin-left: 0px;
}
.weekdays li{
  display: inline-block;
  width: 14.28%;
  color: #2C3238;
  text-align: center;
  font-size: 14px;
  border: none;
  overflow: hidden;
}
.weekdays li:last-child{
  border-right: none;
}
.weekdays li:first-child{
  border-left: none;
}
.weekdays li>div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #2C3238;
  min-height:50px;
}
.searcWrap{
  position: relative;
}
.searchInput{
  background: #F1F1F1;
  border: 1px solid #5A3E68;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  width:94%;
  outline:0;
  font-family: roboto, 'sans-serif';
  padding-right: 25px;
  margin-right:3%;
  margin-left: 3%;
  height: 25px;
}
.labelsContainer{
  display: inline-block;
  font-size: 16px;
  color: #444444;
  margin: 15px;
}
.eachShiftsStyle{
  display: inline-block;
  float: left;
  margin-right: 20px;
  text-align: left;
}
.shiftWrapper{
  overflow: hidden;
  margin: 0 auto;
  display: table;
  padding: 14px 0 0 ;
}
.containerStyle{
  height: 25px;
  width: 25px;
  float: left;
  background: #cecece;
  position: relative;
  margin-right: 8px;
}
.shiftStatus {
  display: inline-block;
  margin-bottom: 10px;
  color:#593e68;
  text-align: left;
}
.shiftStatus:last-child{
  margin: 0;
}
/* shiftDetailsCard styles */
.shiftDetailsCardwrapper{
  background-color: #ffffff;
  height: 55px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20);
  overflow: hidden;
  margin-top: 15px;
  padding: 8px 5px;
}
.details{
  padding-right: 0px;
  text-align: left;
  overflow: hidden;
  float: left;
  width: 23%;
}
.title{
  font-size: 11px;
  color: #2C3238;
  margin: 0 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9B9B9B;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  text-overflow: ellipsis;
}
.time{
  font-size: 10px;
  color: #9B9B9B;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  text-overflow: ellipsis;
}
.descContainer {
 display: inline-block;
 float : left;
 width: 54%;
 padding: 10px 5px;
}
.shiftStatusIconStyle {
 display: inline-block;
 float : right;
 position: relative;
 width: 23%;
}
.headerContainer {
  display: flex ;
}
.selectIntervalContainer{
  width: 100%;
}
.totalBudgetContainer {
  background-color: #EDF7EE;
  font-size: 25px;
  color: #9BCA99;
  min-width: 200px;
  margin-right: 30px;
  position: relative;
}
.totalBudget{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.signupsandcpsContainer {
  color: #6f6f6f;
}
.signupStyle {
  margin-bottom: 20px;
  float: left;
  width: 50%;
}
.cpsStyle{
  float: left;
  width: 50%;
}
.hrcontainer {
  font-size: 22px;
  color: #888888;
  margin-left: 5px;
}
.iconStyle {
  display:inline-block;
  float: left;
  width: 30px;
  margin-right: 10px;
  text-align: right;
}
.textStyle {
  display: table;
  margin: 0;
  font-size: 18px;
}
/* Timepicker styles */
.timePickerContainer{
  float: left;
}
.filterContainer{
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exportLink{
  cursor: pointer;
  color: #499bf1;
  font-size: 16px;
  padding-right: 20px;
}

.filterDropDownContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border: 1px solid #eeeeee;
}
.downloadIconStyle {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.exportLink {
  cursor: pointer;
  color: #499bf1;
  font-size: 16px;
  padding-right: 20px;
}

@media (max-width: 767px){
  .scheduleStatsContainer{
    padding: 10px 0;
  }
  .weekdaysBody{
    flex-direction: column;
  }
  .weekdaysBody>section{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ECECEC;
  }
  .searchInput{
    margin: 0;
    width:100%;
  }
  .labelsContainer{
    font-size: 14px;
    margin: 0;
    padding: 0 8px;
    display: inline-block;
  }
  /* caregiver schedule shifts header styles */
  .shiftWrapper{
    display: block;
  }
  .eachShiftsStyle{
    display:inline-block;
    margin:0 0 20px;
    float: left;
    width: 50%;
  }
  .eachShiftsStyle:last-child{
    margin-bottom: 20px;
  }
  .shiftStatus {
    margin: 10px 0 !important;
    display:inline-block;
    float: left;
    width: 50%;
  }
  .containerStyle{
    margin-right: 5px;
  },
  .citiInfoWrapper{
    width: 100%;
  }
}
